@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


.Mason-div{
    column-width: 150px;
}


.child-img{
width: 100%;
}


.bgGradient{
    background-image: linear-gradient(to right top, #000000, #120007, #1a0011, #1f001b, #1f0026, #1e062c, #1c0b32, #191038, #1f1837, #242035, #292832, #2f2f2f);
}